{% load static %}
<footer id="footer" class="border-0" style="background-color: #f5f5f5">
    <div class="container clearfix">
      <!-- Footer Widgets -->
      <div class="footer-widgets-wrap">
        <div class="row col-mb-50">
          <div class="col-sm-6 col-lg-3">
            <div class="widget clearfix">
              <div
                class="fw-normal text-lowercase mb-0"
                style="font-size: 36px; letter-spacing: -1px"
              >
                Canvas
              </div>
              <p class="text-muted fw-light">@2021</p>
  
              <div class="app-links">
                <p>Get the app</p>
                <a href="#" class="link"
                  ><i class="icon-android2"></i>
                  <span>Download for Android</span></a
                ><br />
                <a href="#" class="link"
                  ><i class="icon-apple"></i> <span>Download for IOS</span></a
                ><br />
              </div>
            </div>
          </div>
  
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget_links widget-li-noicon">
              <h4>Blogroll</h4>
              <ul>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Support Forums</a></li>
                <li><a href="#">Themes</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget_links widget-li-noicon">
              <h4>Links</h4>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Licence</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="#">Terms</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-sm-6 col-lg-3">
            <div class="widget widget-twitter-feed clearfix">
              <h4>Twitter Feed</h4>
              <ul
                class="iconlist twitter-feed mb-0"
                data-username="envato"
                data-count="2"
              >
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer Widgets End -->
    </div>
  
    <div class="line m-0"></div>
  
    <!-- Copyright -->
                  
    <div id="copyrights" style="background-color: #fff">
      <div class="container clearfix">
        <div class="w-100 center m-0">
          <span>Copyrights &copy; 2020 All Rights Reserved by Canvas Inc.</span>
        </div>
      </div>
    </div>
    <!-- Copyright End -->
  </footer>